<% provide :title, t("static_pages.title.about") %>
<h1><%= t ".about"%></h1>
<p>
  <%= t "static_pages.about.the" %>
  <%= link_to "Ruby on Rails Tutorial",Settings.urls.footer.tutorial %>
  <%= t "static_pages.about.part" %> <%= link_to "Learn Enough",Settings.urls.about.learn_enough %>
  <%= t "static_pages.about.family" %> <%= link_to t("static_pages.about.book") ,Settings.urls.about.book %> <%= t "static_pages.about.and" %>
  <%= link_to "screencast series" ,Settings.urls.about.series %>
  <%= t "static_pages.about.to_teach" %>
  <%= link_to "Ruby on Rails" ,Settings.urls.about.ruby %>. <%= t "static_pages.about.sample_app" %>
</p>
