<% provide :title, t("static_pages.title.help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t "static_pages.help.dis1" %>
  <%= link_to "Rails Tutorial help page",Settings.urls.help.help %>.
  <%= t "static_pages.help.dis2" %>
  <%= link_to "Ruby on Rails Tutorial book",Settings.urls.help.book %>.
</p>
